gm/xsd/cssType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="cssType">
    <xs:sequence>
      <xs:element name="page_idcss" type="xs:positiveInteger"/>
      <xs:element name="page_namecss" type="xs:string"/>
      <xs:element name="page_descriptioncss" type="xs:string"/>
      <xs:element name="page_codecss" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>

</xs:schema>